:root {
  --cyan-10: #e6f6fa;
  --cyan-20: #d7f7dd;
  --cyan-30: #c4e8f2;
  --cyan-40: #afe2f0;
  --cyan-50: #98d9ed;
  --cyan-60: #80d0e8;
  --cyan-70: #6bc8e3;
  --cyan-80: #48bde0;
  --cyan-90: #29b5e3;
  --cyan-100: #00a9e0;
  --cyan-110: #00a0d4;
  --cyan-120: #0092c2;
  --cyan-130: #0085b0;
  --cyan-140: #00779e;
  --cyan-150: #006c8f;
  --cyan-160: #006080;
  --cyan-170: #005773;
  --cyan-180: #004d66;
  --cyan-190: #004359;
  --cyan-200: #003a4c;
}
