:root {
  --green-10: #edfff0;
  --green-20: #d7f7dd;
  --green-30: #b2eec0;
  --green-40: #97e6ac;
  --green-50: #7edd99;
  --green-60: #66d485;
  --green-70: #50cc75;
  --green-80: #3bc464;
  --green-90: #25bb52;
  --green-100: #00b336;
  --green-110: #00a832;
  --green-120: #009e2f;
  --green-130: #00942c;
  --green-140: #008a29;
  --green-150: #008026;
  --green-160: #007523;
  --green-170: #006b20;
  --green-180: #00611d;
  --green-190: #005419;
  --green-200: #004715;
}
