:root {
  --grey-10: #f6f8f9;
  --grey-20: #e9edf2;
  --grey-30: #dadfe4;
  --grey-40: #cdd4da;
  --grey-50: #c0c8d0;
  --grey-60: #b3bcc6;
  --grey-70: #a5b0bd;
  --grey-80: #99a5b3;
  --grey-90: #8a98a8;
  --grey-100: #788694;
  --grey-110: #6a7a88;
  --grey-120: #62717e;
  --grey-130: #596774;
  --grey-140: #515e6a;
  --grey-150: #46535e;
  --grey-160: #3f4b55;
  --grey-170: #37424b;
  --grey-180: #303940;
  --grey-190: #282f36;
  --grey-200: #21272c;
}
