:root {
  --orange-10: #fff4e8;
  --orange-20: #ffe7d1;
  --orange-30: #ffd9ba;
  --orange-40: #ffcca6;
  --orange-50: #ffbf91;
  --orange-60: #ffb37d;
  --orange-70: #ffa769;
  --orange-80: #ff9a52;
  --orange-90: #fc8d3d;
  --orange-100: #fa7f28;
  --orange-110: #f77314;
  --orange-120: #f56600;
  --orange-130: #e55c00;
  --orange-140: #d65200;
  --orange-150: #c74900;
  --orange-160: #b84000;
  --orange-170: #a83800;
  --orange-180: #942c00;
  --orange-190: #802200;
  --orange-200: #6b1900;
}
