:root {
  --red-10: #ffeeed;
  --red-20: #ffe1de;
  --red-30: #ffc7c2;
  --red-40: #ffafa8;
  --red-50: #ff9a91;
  --red-60: #ff857a;
  --red-70: #ff7063;
  --red-80: #ff5c4d;
  --red-90: #ff4433;
  --red-100: #fc311e;
  --red-110: #ed301f;
  --red-120: #d92e1e;
  --red-130: #c91a0a;
  --red-140: #b80f00;
  --red-150: #a60e00;
  --red-160: #940c00;
  --red-170: #850b00;
  --red-180: #700b02;
  --red-190: #610800;
  --red-200: #4d0600;
}
