:root {
  --yellow-10: #fff9d9;
  --yellow-20: #fff3c2;
  --yellow-30: #ffedab;
  --yellow-40: #ffe799;
  --yellow-50: #ffe085;
  --yellow-60: #ffdb70;
  --yellow-70: #ffd466;
  --yellow-80: #ffce52;
  --yellow-90: #ffc633;
  --yellow-100: #ffb70f;
  --yellow-110: #ffae00;
  --yellow-120: #f5a700;
  --yellow-130: #eb9c00;
  --yellow-140: #e19200;
  --yellow-150: #d08000;
  --yellow-160: #bf6f00;
  --yellow-170: #ae6500;
  --yellow-180: #9d5600;
  --yellow-190: #8c4800;
  --yellow-200: #7b3b00;
}
